<nav
  style="--bs-breadcrumb-divider: '>'"
  class="breadcrump-container"
  aria-label="breadcrumb"
>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">Cars</li>
    <li class="breadcrumb-item"><a href="/"> List Cars</a></li>
    <li class="breadcrumb-item active">Add new car</li>
  </ol>
</nav>

<div class="addCar">
  <h2>Add new car</h2>
</div>

<div class="form-input">
  <form
    action="<%= carValue.action %>"
    enctype="multipart/form-data"
    method="POST"
    class="form"
  >
    <div class="mt-4 row">
      <label for="Nama" class="col-sm-2 col-form-label">Nama</label>
      <div class="col-sm-7">
        <input
          type="text"
          class="form-control name"
          name="nama"
          required
          id="Nama"
          value="<%= carValue.name%>"
        />
      </div>
    </div>
    <div class="mt-4 row">
      <label for="sewaPerHari" class="col-sm-2 col-form-label"
        >Sewa Per Hari</label
      >
      <div class="col-sm-7">
        <input
          type="text"
          class="form-control sewaPerHari"
          required
          name="sewaPerHari"
          id="sewaPerHari"
          value="<%= carValue.price%>"
        />
      </div>
    </div>
    <div class="mt-4 row select-size">
      <label for="sewaPerHari" class="col-sm-2 col-form-label">Ukuran</label>
      <select
        required
        class="form-select"
        aria-label="Default select example"
        name="size"
      >
        <option selected disabled>Pilih Ukuran</option>
        <% for (var i = 0; i < data.length; i++) { %> <% if(carValue.size_id ===
        data[i].dataValues.id) {%>
        <option selected value="<%= data[i].dataValues.id%>">
          <% } else { %>
        <option value="<%= data[i].dataValues.id%>">
          <% } %> <%= data[i].dataValues.name%>
        </option>
        <% } %>
      </select>
    </div>

    <div class="input-file">
      <label for="sewaPerHari" class="col-sm-2 col-form-label">Foto</label>
      <input type="file" id="img" name="image" value="<% carValue.image%>" />
    </div>

    <div class="button-submit">
      <a href="/" class="btn btn-outline-primary">Cancel</a>
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </form>
</div>
