body {
  overflow-x: hidden;
}

.body-container {
  display: flex;
  .sidebar-container {
    display: flex;
    .box-logo {
      position: absolute;
      width: 34px;
      height: 34px;
      top: 20px;
      background-color: #cfd4ed;
    }
    .sidebar {
      width: 5.5vw;
      height: 100vh;
      background-color: #0d28a6;
      position: fixed;
      display: flex;
      flex-direction: row;
      justify-content: center;
      .button {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        padding-top: 80px;
        & > * {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          margin: 10px 0;
          cursor: pointer;
          p {
            font-size: 13px;
          }
        }
        .car-list,
        .dashboard {
          width: 115%;
          height: 60px;
          display: flex;
          &:hover {
            background-color: rgba(255, 255, 255, 0.3);
          }
          p {
            margin-bottom: 0 !important;
          }
        }
      }
    }
    .sidebar-title {
      width: 17vw;
      left: 0;
      height: 100vh;
      display: flex;

      align-items: center;
      flex-direction: column;
      margin-left: 5.5vw !important;
      .top-navbar {
        display: flex;
        align-items: flex-end;
        height: 8.5vh;
        width: 100%;
        margin-left: 4vw;
        .logo-name {
          width: 100px;
          height: 34px;
          background-color: #cfd4ed;
        }
      }

      .bottom-navbar {
        display: flex;
        flex-direction: column;
        height: 100 - 8.5vh;
        padding-top: 7vh;

        row-gap: 4.5vh;
        & > * {
          width: 17vw;
          padding: 1.5vh 0vw 1.5vh 2vw;
          cursor: pointer;
          p {
            margin-bottom: 0;
          }
        }

        .button-navbar:hover {
          background-color: rgba(0, 0, 0, 0.3);
        }
      }
    }
  }

  .rightside-container {
    display: flex;
    flex-direction: column;
    .navbar-top {
      height: 12vh;
      .right-menu {
        width: 76.5vw;
        display: flex;
        height: inherit;
        align-items: center;
        .left-navbar {
          width: 10%;
        }
        .right-navbar {
          width: 90%;
          display: flex;
          justify-content: flex-end;
          column-gap: 2vw;
          padding-right: 2vw;
        }
      }
    }
  }
}

.breadcrump-container {
  font-weight: bold;
  a {
    color: black;
    text-decoration: none;
  }
}
.addCar {
  display: flex;
  justify-content: space-between;
}

.button-size {
  margin: 3vh 0;
  display: flex;
  column-gap: 20px;
  button {
    background-color: white;
  }
}

.button-submit {
  position: absolute;
  bottom: 10px;
}

.listCars {
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
}

.card-title {
  font-size: 14px;
  font-weight: 400;
}

.card-text {
  font-size: 16px;
  font-weight: bold;
}

.list-car {
  background-color: #e5e5e5;
  padding: 15px;
  min-height: 100vh !important;
}

.btn-delete,
.btn-edit {
  width: 49%;
  img {
    margin-bottom: 3px;
  }
}

.btn-delete:hover {
  img {
    filter: invert(100%) sepia(0%) saturate(0%) brightness(200%) contrast(103%);
  }
}

.form-select,
.sewaPerHari,
.name {
  display: flex;
  width: 300px !important;
}

.form-select {
  margin-left: 12px;
}

.input-file {
  margin: 20px 0;
}

.update_at {
  font-size: 14px;
  font-weight: 300;
  color: #929292;
  img {
    width: 13px;
  }
}

.car-img {
  height: 150px;
  object-fit: cover;
}
