body {
  overflow-x: hidden;
}

.body-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.body-container .sidebar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.body-container .sidebar-container .box-logo {
  position: absolute;
  width: 34px;
  height: 34px;
  top: 20px;
  background-color: #cfd4ed;
}

.body-container .sidebar-container .sidebar {
  width: 5.5vw;
  height: 100vh;
  background-color: #0d28a6;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body-container .sidebar-container .sidebar .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  padding-top: 80px;
}

.body-container .sidebar-container .sidebar .button > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px 0;
  cursor: pointer;
}

.body-container .sidebar-container .sidebar .button > * p {
  font-size: 13px;
}

.body-container .sidebar-container .sidebar .button .car-list,
.body-container .sidebar-container .sidebar .button .dashboard {
  width: 115%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.body-container .sidebar-container .sidebar .button .car-list:hover,
.body-container .sidebar-container .sidebar .button .dashboard:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.body-container .sidebar-container .sidebar .button .car-list p,
.body-container .sidebar-container .sidebar .button .dashboard p {
  margin-bottom: 0 !important;
}

.body-container .sidebar-container .sidebar-title {
  width: 17vw;
  left: 0;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 5.5vw !important;
}

.body-container .sidebar-container .sidebar-title .top-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 8.5vh;
  width: 100%;
  margin-left: 4vw;
}

.body-container .sidebar-container .sidebar-title .top-navbar .logo-name {
  width: 100px;
  height: 34px;
  background-color: #cfd4ed;
}

.body-container .sidebar-container .sidebar-title .bottom-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 91.5vh;
  padding-top: 7vh;
  row-gap: 4.5vh;
}

.body-container .sidebar-container .sidebar-title .bottom-navbar > * {
  width: 17vw;
  padding: 1.5vh 0vw 1.5vh 2vw;
  cursor: pointer;
}

.body-container .sidebar-container .sidebar-title .bottom-navbar > * p {
  margin-bottom: 0;
}

.body-container .sidebar-container .sidebar-title .bottom-navbar .button-navbar:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.body-container .rightside-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.body-container .rightside-container .navbar-top {
  height: 12vh;
}

.body-container .rightside-container .navbar-top .right-menu {
  width: 76.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body-container .rightside-container .navbar-top .right-menu .left-navbar {
  width: 10%;
}

.body-container .rightside-container .navbar-top .right-menu .right-navbar {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-column-gap: 2vw;
          column-gap: 2vw;
  padding-right: 2vw;
}

.breadcrump-container {
  font-weight: bold;
}

.breadcrump-container a {
  color: black;
  text-decoration: none;
}

.addCar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.button-size {
  margin: 3vh 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.button-size button {
  background-color: white;
}

.button-submit {
  position: absolute;
  bottom: 10px;
}

.listCars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 40px;
          column-gap: 40px;
}

.card-title {
  font-size: 14px;
  font-weight: 400;
}

.card-text {
  font-size: 16px;
  font-weight: bold;
}

.list-car {
  background-color: #e5e5e5;
  padding: 15px;
  min-height: 100vh !important;
}

.btn-delete,
.btn-edit {
  width: 49%;
}

.btn-delete img,
.btn-edit img {
  margin-bottom: 3px;
}

.btn-delete:hover img {
  -webkit-filter: invert(100%) sepia(0%) saturate(0%) brightness(200%) contrast(103%);
          filter: invert(100%) sepia(0%) saturate(0%) brightness(200%) contrast(103%);
}

.form-select,
.sewaPerHari,
.name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px !important;
}

.form-select {
  margin-left: 12px;
}

.input-file {
  margin: 20px 0;
}

.update_at {
  font-size: 14px;
  font-weight: 300;
  color: #929292;
}

.update_at img {
  width: 13px;
}

.car-img {
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}
/*# sourceMappingURL=style.css.map */